# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# used Zero-Install
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: <https://yarnpkg.com/features/zero-installs>
# vercel에서 cache를 읽지 못하는 문제 때문에 ignore처리
.yarn/cache
# !/.yarn/cache 
#/.pnp
#.pnp.js

# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vscode
